<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image" href="https://pngimg.com/uploads/mars_planet/mars_planet_PNG30.png">
    <title>Mission to Mars</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!-- -->
     <style>
      .hide {
        display: none;
      }
    </style>  


  </head>
  <body style="background-image: url(https://www.dropbox.com/s/gzbagkqiq1xu4t5/vectorstock_19656662.png?raw=1);
    background-repeat: no-repeat;
    background-attachment: fixed;">
  
    <div class="container">
      <div class="jumbotron text-center" style="background-image: url(https://www.dropbox.com/s/gzbagkqiq1xu4t5/vectorstock_19656662.png?raw=1); ">
        <h1>Scrape Successful</h1>
        <button class="btn btn-primary btn-lg" onclick="location.href='/'">
          <i class="spinner-border spinner-border-sm hide"></i>
          <span class="btn-txt">Return Home</span>
        </button>

      </div>
      
   

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
    <script>
      $(document).ready(function() {
        $(".btn").on("click", function() {
          $(".spinner-border-sm").removeClass("hide");
          $(".button").attr("disabled", true);
          $(".btn-txt").text("Hacking The Interwebs...");
        });
      });
    </script>

  </body>
</html>
